/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
    background-color: dodgerblue;
}

/* # generals*/

body {
  background: linear-gradient(180deg, #009688 0 15vh,  #D9DBD4 0 80vh);
  height: 100vh;
}
