/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* # generals*/

/* Gradient for wallpaper 
background-image: linear-gradient(
  180deg,
  hsl(138deg 100% 28%) 1%,
  hsl(132deg 67% 34%) 33%,
  hsl(130deg 57% 36%) 41%,
  hsl(129deg 49% 37%) 46%,
  hsl(129deg 43% 39%) 48%,
  hsl(128deg 38% 40%) 50%,
  hsl(128deg 34% 41%) 51%,
  hsl(127deg 30% 42%) 51%,
  hsl(127deg 27% 43%) 51%,
  hsl(127deg 24% 43%) 51%,
  hsl(127deg 21% 44%) 50%,
  hsl(126deg 19% 45%) 50%,
  hsl(126deg 16% 46%) 49%,
  hsl(126deg 14% 46%) 49%,
  hsl(126deg 12% 47%) 49%,
  hsl(126deg 10% 47%) 49%,
  hsl(126deg 8% 48%) 50%,
  hsl(126deg 6% 48%) 52%,
  hsl(126deg 5% 49%) 54%,
  hsl(126deg 3% 49%) 59%,
  hsl(125deg 2% 50%) 67%,
  hsl(0deg 0% 50%) 99%
); 
*/