<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FontAwesome-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css' integrity='sha512-8BU3emz11z9iF75b10oPjjpamM4Mz23yQFQymbtwyPN3mNWHxpgeqyrYnkIUP6A8KyAj5k2p3MiYLtYqew7gIw==' crossorigin='anonymous'/>
    <!--Style-->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!--Vue 3-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">  
        <div class="container d-flex">
            <!--Start of Sidebar-->
            <section id="sidebar">
                <div class="x-side bg-gray d-flex f-between f-center">
                    <div class="prof-pic d-flex f-center">
                        <img src="img/avatar_io.png" alt="myself-pic">
                        <span>Sofia</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-circle-notch fa-2x"></i>
                        <i class="fa-solid fa-message fa-2x"></i>
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                </div>
                <!--Push Notification-->
                <div class="x-side bg-azure d-flex f-center">
                    <div class="push-icon d-flex f-center">
                        <i class="fa-regular fa-bell-slash fa-lg"></i>
                    </div>
                    <div class="push-text">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <p>Attiva notifiche desktop</p>
                    </div>
                </div>
                <!--Search Bar-->
                <div class="bg-gray" id="search-bar">
                    <div class="input-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!--Start chat-list section-->
                    <div class="x-side  d-flex col" v-for="(contact, contactsIndex) in contacts"
                    @click="setActiveIndex(contactsIndex)">
                        <div class="prof-pic d-flex">
                            <img v-bind:src="contact.avatar" alt="myself-pic">
                            <span class="contact-name">
                                {{contact.name}}
                            </span>
                        </div>
                    </div>                
            </section>
            <!--Start of chat-->
            <section id="chat">
                <!--Contact Info Section-->
                <div class="x-side bg-gray d-flex f-between f-center">
                    <div>
                        <div class="prof-pic d-flex f-center">
                            <img :src="contacts[contactIndex].avatar" alt="michele">
                            <div>{{contacts[contactIndex].name}}</div>
                        </div>
                    </div>
                    <div>
                        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                        <i class="fa-solid fa-paperclip fa-2x"></i>
                        <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                    </div>
                </div>
                <!--Message Section-->
                <div id="message-list" class="d-flex col">
                    <span class="message" v-for="messageObj in contacts[contactIndex].messages"
                    :class="messageObj.status">
                        {{ messageObj.message }}
                    </span>
                </div>
                <!--Message Input Bar-->
                <div id="send-bar" class="d-flex f-center">
                    <i class="fa-regular fa-face-smile fa-2x"></i>
                    <input type="text" id="text-bar" placeholder="Scrivi un messaggio" v-model="newText"
                    keyup.enter="addMessage(newText)">
                    <i class="fa-solid fa-microphone fa-2x"></i>
                </div>
            </section>
        </div>
    </div>
    <!--Script-->
    <script src="js/script.js"></script>
</body>
</html>